<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zz.module_mine">

    <application
        android:theme="@style/MyAppTheme">
        <activity android:name=".ModuleMineUserActivity"></activity>
    </application>

</manifest>