<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zz.module_main">
    <!--        xmlns:tools="http://schemas.android.com/tools"-->
    <!--        tools:replace="android:label"-->
    <application
        android:theme="@style/MyAppTheme">
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>